
.userBar{
  
  padding: 10px;
  margin-bottom: 60px;
  border: 2px solid black;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  width: 400px;


   
}

.userSearch{
    display: flex;
    justify-content: center;
    align-items: center;
}