.navbarCustom{
  background-color: #fddddd ;
  margin-bottom: 100px;
}

.navbar-toggler-icon{
  background-color: black !important;
}

.navbarCustom span {
  color:black;
}

body a {
    text-decoration: none;
}

.navbarCustom{
  margin-bottom: 20px;
}

.logo{
  width: 100px;

  margin: -2px 0px
}
