.navbarCustom{
  background-color: #fff8f8 ;
  position: 
}

.navbarCustom span {
  color:black;
}

body a {
    text-decoration: none;
}

.navbarCustom{
  margin-bottom: 20px;
}

.logo{
  width: 100px;

  margin: -2px 0px
}
